$root-ft-size:10px;

$color-white:#fff;
$color-gray:#ddd;
$color-red:#f00;
$color-black:#000;
$color-yellow:#e6a23c;

$color-main-bg:#f9f9f9;
$color-primary:#1890ff;// 系统主色
$color-text-primary:#212b36;// 主要文字颜色
$color-text-minor:#637381;// 次要文字颜色
$color-text-weak:#919eab;

$color-success:#67C23A;
$color-danger:#f56c6c;

$color-login-bg:#1f253b;
$color-header-bg:$color-white;
$color-aside-bg:#1a233b;
$color-bg-logo:#1f253b;

$color-table-header-bg:#f2f5f7;//列表头背景色 
$color-dialog-header-bg:#424c66;//对话框头部背景色 

$length-8px:0.8rem;
$length-16px:1.6rem;
$length-24px:2.4rem;

