@import '@assets/scss/_reset.scss';

.align-center {
  text-align: center;
}

.color-text--white {
  color: $color-white;
}

.mr-2rem {
  margin-right: 2rem !important;
}

.btn{
  color:rgb(21, 146, 241);
  display:block;
}

.echarts {
  width: 100% !important;
  height: 100% !important;
}

.flex-left{
  display: flex;
  justify-content:start;
  align-items:center;
}

.flex-center{
  display: flex;
  justify-content:center;
  align-items:center;
}
