@import "@assets/scss/_reset.scss";
@import "@assets/scss/_mixin.scss";

.align-center {
  text-align: center!important;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-middle {
  vertical-align: middle!important;
}

.align-middle--in-transform {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.color-text--primary {
  color:$color-text-primary
}

.color-text--minor {
  color:$color-text-minor
}

.color-text--white {
  color: $color-white;
}

.color-text--gray {
  color: $color-gray;
}

.color-text--weak {
  color: $color-text-weak;
}

.color-text--gray-mid {
  color: #c3c5c7
}

.color-text--red {
  color: $color-red;
}

.color-text--yellow {
  color: $color-yellow;
}

.color-text--danger {
  color: $color-danger;
}

.color-text--primary {
  color: $color-primary;
}

.color-bg--white {
  background-color: $color-white;
}

.ml-8px {
  margin-left: $length-8px !important;
}

.ml-16px {
  margin-left: $length-16px !important;
}

.mr-1rem {
  margin-right: 1rem !important;
}

.mr-2rem {
  margin-right: 2rem !important;
}

.mt-1rem {
  margin-top: 1rem !important;
}

.mb-05rem {
  margin-bottom: 0.5rem !important;
}

.mb-1rem {
  margin-bottom: 1rem !important;
}

.mb-16px {
  margin-bottom: $length-16px !important;
}

.mb-2rem {
  margin-bottom: 2rem !important;
}

.mt-2rem {
  margin-top: 2rem !important;
}

.font-size-30 {
  font-size: 3rem;
}

.font-size-20 {
  font-size: 2rem;
}

.font-size-18 {
  font-size: 1.8rem;
}

.font-size-16 {
  font-size: 1.6rem;
}

.font-size-14 {
  font-size: 1.4rem;
}

.font-size-12 {
  font-size: 1.2rem;
}

.font-wight-normal {
  font-weight: normal;
}

.font-wight-600 {
  font-weight: 600!important;
}

.border-bottom--gray {
  border-bottom: 1px solid $color-gray;
}

.cursor-pointer {
  cursor: pointer;
}

.btn {
  color: rgb(21, 146, 241);
  display: block;
}

.echarts {
  width: 100% !important;
  height: 100% !important;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.text-overflow {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  @include clearfix;
}

.display-inline-block {
  display: inline-block!important;
}

.reset-autofill {
  & input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $color-white inset !important;
    box-shadow: 0 0 0px 1000px $color-white inset !important;
  }
}
// notify英文折行
.el-notification__content p {
  word-break: break-all;
}
// 查看页面
.view-container {
  pointer-events: none;
  cursor: not-allowed;
  .el-form-item {
    .el-form-item__content {
      .el-input__inner,
      .el-textarea__inner,
      .selected-tags,
      .sl-select-input {
        background-color: #f5f7fa;
        border-color: #e4e7ed;
        color: #c0c4cc;
        cursor: not-allowed;

        &::placeholder {
          visibility: hidden !important;
        }
      }
      .el-input__prefix,
      .el-input__count,
      .el-icon-arrow-down,
      .el-icon-close,
      .el-input__suffix {
        visibility: hidden !important;
      }
    }
  }
  .el-input--small .el-input__inner{
    background-color: #f5f7fa;
        border-color: #e4e7ed;
        color: #c0c4cc;
        cursor: not-allowed;
  }

  .pointer {
    cursor: pointer;
  }

  .pointer-enable {
    pointer-events: auto;
    cursor: pointer;
  }

  .pointer-disable {
    pointer-events: none;
  }
}


.switch-nav {
  position: relative;
  margin-bottom: 0.2rem;
  .switch-nav-status {
    vertical-align: top;
  }
}

.sl-table-wrap {
  @extend .color-bg--white;
  padding: 1.6rem 2.4rem 1.6rem;
}

.table-search-statistics {
  padding:0 0.5em;
  margin-bottom: 2em;
  background-color: #ecf0f5;
  & /deep/ {
    .sl-checked-list {
      border-bottom: 1px solid $color-gray;
      &:last-child {
        border:none
      }
    }
  }
}