@import '@assets/scss/_reset.scss';

//全局图表块样式
.echarts {
    width: 100% !important;
    height: 100% !important;
}

.mr-2rem {
    margin-right: 2rem !important;
}

.btn{
    color:rgb(21, 146, 241);
    display:block;
}